*{
    box-sizing: border-box;
}

body{
    font-family: 'Mulish', sans-serif;
    background-color: #ccc;
    color: #0c0e0c;
    font-size: 1rem;
}
html, body{
    overflow-x: hidden;
}
h1{
    color: #157fbc;
}
h5{
    color: #0c0e0c;
}
.container {
    height: calc(100% - 15px);
}
.card-footer i {
    color: #157fbc;
}
#profile img {
    height: 80px;
}
.card{

    -webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.04);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px rgba(0, 0, 0, 0.04);  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px rgba(0, 0, 0, 0.04);
}
.fa-random{
    font-size: 2rem;
}
.arrows {
    font-size: 1.5em;
}
blockquote p,.card-body p{
    color: #0c0e0c;
}
.card-text{
    text-align: left;
}
@media (min-width: 576px){
.card-columns {
    column-count: 1;
    column-gap: 1.3rem;
}
.card-footer i {
    font-size: 1.2em;
}
}

@media (max-width: 330px){
    .row h4{
    font-size: .9rem;
    }
    .list-group-item{
        padding: 1rem;
    }
    #profile{
        flex-direction: row;
        justify-content: center;
        margin-top: 0 !important;
        margin-left: 0 !important;
        padding: 1rem ;
        text-align: left;
    }
    #profile > div.ml-5{
        margin-left: 1rem !important;
    }
}